<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false">
        <service
            android:name="ee.forgr.plugin.screenrecorder.service.CapgoRecorderService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection|microphone" />
    </application>
</manifest>
